<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <title>Document</title>
</head>


<body>

    <div class="columns">
        <div class="column">
            <h1 class="title">Sign Up</h1>
            <form action="{% url 'spiceman:signup' %}" method="post" class="box">
                {% csrf_token %}
                <div class="field">
                    <label class="label">username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="enter user name" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="********" />
                    </div>
                </div>
                <button class="button is-danger" class="button is-primary">Sighn Up</button>
            </form>
        </div>

        <div class="column">
            <h2 class='title'> Log In</h2>
            <form action="{% url 'spiceman:authenticate' %}" method="post" class="box">
                {% csrf_token %}
                <div class="field">
                    <label class="label">username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="enter user name" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="********" />
                    </div>
                </div>

                <button class="button is-danger" class="button is-primary">Log In</button>
        </div> 

    </div>








</body>

</html>